<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <title>Oooooooooooooooops!!</title>
  </head>
  <body>
    <div class="container">
      <header id="header">
        <h1 class="logo">
          <a href="/">GROUPIE <span>TRACKER</span></a>
        </h1>
        <form action="/search">
          <input
            type="text"
            class="search-input"
            name="search"
            placeholder="search for a brand"
          />
        </form>
      </header>
      <main class="error-main">
        <div class="content">
          <h1>Oooooooops!!</h1>
          <h2>{{.ErrorCode}} {{.Message}}</h2>
        </div>
      </main>
    </div>
  </body>
</html>
